html {
  font-size: 20px;
}

form {
  position: relative;
  padding: 10px 18px 20px 24px;
  background: #fff;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.address-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: .5em;
}

label {
  font-size: 0.75rem;
  font-weight: 600;
}

input,
textarea {
  padding: 8px 20px 8px 13px;
  background: hsla(28, 25%, 95%, 1);
  font-size: 0.75rem;
  width: 100%;
  resize: none;
  font-weight: 400;
  border: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);


  -webkit-appearance: none;
  outline: none;
  transition: all 0.25s ease;
}

input:focus,
textarea:focus {
  background: hsla(28, 25%, 95%, 0);
}

input:focus {
  background-position-x: calc(100% - 16px);
  background-position-y: 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  /* color: currentColor; */
}

button[type="submit"] {
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 0.8rem;
  border: 0;
  background: hsla(0, 10%, 35%, 1);
  color: #fff;

  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease;
}

.button-div {
  text-align: right;
  grid-column: 2/3;
}

button:hover {
  background: hsla(0, 10%, 45%, 1);
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: #ece5df;
}